[submodule "members/yanhx/lib/forge-std"]
	path = members/yanhx/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "members/GarenWoo/lib/forge-std"]
	path = members/GarenWoo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std