@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "din";
  src: url("../public/font/din.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "din", sans-serif;
  background: rgb(47,48,56);
  min-height: 100vh;
  height: 100%;
  min-width: 1000px;
}
html {
  height: fit-content;
  min-height: 100%;
}

.pt-18{
  padding-top:4.5rem !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
