.carousel {
  width: (268.55 * 3)+ (16 * 2px) !important;
  overflow-x: auto;
  padding: 20px;
}
@media (max-width: 1000px) {
  .carousel {
    box-sizing: content-box;
    width: (268.55 * 3)+ (16 * 3px) !important;
    > div {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .carousel {
    box-sizing: content-box;
    width: (268 * 4)+ (16 * 4px) !important;
    > div {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
