@charset "utf-8";
.Frame{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	display:flex;
	flex-direction:column;
	background-color:#fefefe;
	overflow:hidden;
}
.Frame > .Head{
	padding:0 10px;
	margin-bottom:5px;
	width:calc(100% - 20px);
	height:50px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	display:flex;
	align-items:center;
	justify-content:space-between;
	background-color:#fff;
	position:relative;
	overflow:hidden;
}
.Frame > .Head > i{
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	z-index:2;
	width:30px;
	height:30px;
}
.Frame > .Head > span{
	flex:1;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight:800;
	font-size:18px;
}
.Frame > .Head > ul{
	display:flex;
	overflow:hidden;
}
.Frame > .Head > ul > li{
	padding:0 15px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.Frame > .Head > ul > li.Hover{
	background-color:#a233c6;
	color:#fff;
}
.Frame > .Wicket{
	flex:1;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	overflow-x:hidden;
	overflow-y:auto;
}
.Frame > .Wicket > li{
	width:100%;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
.Frame > .Wicket > .Line{
	position:relative;
	height:40px;
	width:100%;
}
.Frame > .Wicket > .Line:before{
	position:absolute;
	bottom:0;
	left:50%;
	z-index:2;
	margin-left:-70px;
	width:140px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:12px;
	background-color:#fff;
	color:rgba(0,0,0,0.4);
}
.Frame > .Wicket > .Line:after{
	content:'';
	position:absolute;
	left:40px;
	right:40px;
	top:20px;
	z-index:1;
	height:0;
	border-bottom:1px solid #eee;
	transform:scaleY(0.5);
}

#Login{
	background-image:url('../Image/Background.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	align-items:center;
	justify-content:center;
}
#Login > .Glass{
	padding:150px 0 50px 0;
	width:80vw;
	max-width:500px;
	border-radius:10px;
	background:linear-gradient(135deg , rgba(255,255,255,0.7) , rgba(255,255,255,0));
	box-shadow:0 0px 5px rgba(0,0,0,0.3);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Login > .Glass:after{
	content:'OwlSync';
	position:absolute;
	top:50px;
	left:0;
	right:0;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:40px;
	letter-spacing:5px;
	overflow:hidden;
}
#Login > .Glass > input{
	width:calc(80% - 60px);
	height:40px;
	border:1px solid #d2d2d2;
	border-radius:40px;
	margin-bottom:20px;
	padding:0 30px;
	transition: border .2s ease-in-out;
	color:#16b777;
}
#Login > .Glass > input:focus{
	border-color:#16b777;
}
#Login > .Glass > input:focus::placeholder{
	color:#16b777;
}
#Login > .Glass > span{
	position:absolute;
	top:213px;
	right:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:40px;
}
#Login > .Glass > .Button{
	margin:0 auto 25px;
	color:#e5fefd;
	width:80%;
	height:40px;
	font-size:20px;
	background:linear-gradient(45deg , #20c997 , #32d5a3 , #40e0b0 , #4decbc , #5af8c9);
	background-size:1100%;
	border-radius:40px;
	transform:scaleX(1);
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	transition:transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , bottom 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , background-position 3s cubic-bezier(0.455,0.03,0.515,0.955) , -webkit-transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}
#Login > .Glass > .Button:active{
	transform:scale3d(1.1,1.1,1);
	background-position:100% 50%;
	outline:none;
	bottom:2px;
}
#Login > .Glass > .Wallet{
	margin:0 auto 16px;
	color:#e5fefd;
	width:80%;
	height:40px;
	font-size:20px;
	background:linear-gradient(45deg , #1e9fff , #32d5a3 , #40e0b0 , #4decbc , #31bdec);
	background-size:1100%;
	border-radius:40px;
	transform:scaleX(1);
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	transition:transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , bottom 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , background-position 3s cubic-bezier(0.455,0.03,0.515,0.955) , -webkit-transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}
#Login > .Glass > .Wallet:active{
	transform:scale3d(1.1,1.1,1);
	background-position:100% 50%;
	outline:none;
	bottom:2px;
}
#Login > .Glass > .Jump{
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Login > .Glass > .Jump > span{
	color:#16b777;
	margin-left:5px;
}

#Register{
	background-image:url('../Image/Background.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	align-items:center;
	justify-content:center;
}
#Register > .Glass{
	padding:100px 0 15px 0;
	width:80vw;
	max-width:500px;
	border-radius:10px;
	background:linear-gradient(135deg , rgba(255,255,255,0.7) , rgba(255,255,255,0));
	box-shadow:0 0px 5px rgba(0,0,0,0.3);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Register > .Glass:after{
	content:'OwlSync';
	position:absolute;
	top:25px;
	left:0;
	right:0;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:40px;
	letter-spacing:5px;
	overflow:hidden;
}
#Register > .Glass > input{
	width:calc(80% - 60px);
	height:40px;
	border:1px solid #d2d2d2;
	border-radius:40px;
	margin-bottom:10px;
	padding:0 30px;
	transition: border .2s ease-in-out;
	color:#16b777;
}
#Register > .Glass > input:focus{
	border-color:#16b777;
}
#Register > .Glass > input:focus::placeholder{
	color:#16b777;
}
#Register > .Glass > span{
	position:absolute;
	top:310px;
	right:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:40px;
}
#Register > .Glass > .Button{
	margin:20px auto 16px;
	color:#e5fefd;
	width:80%;
	height:50px;
	font-size:20px;
	background:linear-gradient(45deg , #20c997 , #32d5a3 , #40e0b0 , #4decbc , #5af8c9);
	background-size:1100%;
	border-radius:50px;
	transform:scaleX(1);
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	transition:transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , bottom 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , background-position 3s cubic-bezier(0.455,0.03,0.515,0.955) , -webkit-transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}
#Register > .Glass > .Button:active{
	transform:scale3d(1.1,1.1,1);
	background-position:100% 50%;
	outline:none;
	bottom:2px;
}
#Register > .Glass > .Jump{
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Register > .Glass > .Jump > span{
	color:#16b777;
	margin-left:5px;
}

#Forget{
	background-image:url('../Image/Background.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	align-items:center;
	justify-content:center;
}
#Forget > .Glass{
	padding:100px 0 15px 0;
	width:80vw;
	max-width:500px;
	border-radius:10px;
	background:linear-gradient(135deg , rgba(255,255,255,0.7) , rgba(255,255,255,0));
	box-shadow:0 0px 5px rgba(0,0,0,0.3);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Forget > .Glass:after{
	content:'OwlSync';
	position:absolute;
	top:25px;
	left:0;
	right:0;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:40px;
	letter-spacing:5px;
	overflow:hidden;
}
#Forget > .Glass > input{
	width:calc(80% - 60px);
	height:40px;
	border:1px solid #d2d2d2;
	border-radius:40px;
	margin-bottom:10px;
	padding:0 30px;
	transition: border .2s ease-in-out;
	color:#16b777;
}
#Forget > .Glass > input:focus{
	border-color:#16b777;
}
#Forget > .Glass > input:focus::placeholder{
	color:#16b777;
}
#Forget > .Glass > span{
	position:absolute;
	top:310px;
	right:10%;
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:40px;
}
#Forget > .Glass > .Button{
	margin:20px auto 16px;
	color:#e5fefd;
	width:80%;
	height:50px;
	font-size:20px;
	background:linear-gradient(45deg , #20c997 , #32d5a3 , #40e0b0 , #4decbc , #5af8c9);
	background-size:1100%;
	border-radius:50px;
	transform:scaleX(1);
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	transition:transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , bottom 0.3s cubic-bezier(0.175,0.885,0.32,1.275) , background-position 3s cubic-bezier(0.455,0.03,0.515,0.955) , -webkit-transform 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}
#Forget > .Glass > .Button:active{
	transform:scale3d(1.1,1.1,1);
	background-position:100% 50%;
	outline:none;
	bottom:2px;
}
#Forget > .Glass > .Jump{
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Forget > .Glass > .Jump > span{
	color:#16b777;
	margin-left:5px;
}


#Menu{
	height:calc(100% - 10px);
	display:flex;
	flex-direction:column;
	margin:5px 0;
	overflow-x:hidden;
	overflow-y:auto;
}
#Menu > li{
	padding:0 15px;
	height:50px;
	display:flex;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Menu > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Menu > li:last-child:after{
	border-bottom:0;
}
#Menu > li > i{
	margin-right:10px;
}

#Config{
	height:calc(100% - 10px);
	display:flex;
	flex-direction:column;
	margin:5px 0;
	overflow-x:hidden;
	overflow-y:auto;
}
#Config > li{
	padding:0 15px;
	height:50px;
	display:flex;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Config > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Config > li:last-child:after{
	border-bottom:0;
}
#Config > li > i{
	margin-right:10px;
}
#Config > li[data-forward="Exit"]{
	color:#ff5722;
}

#Home > .Wicket{
	align-content:center;
	align-items:center;
	justify-content:center;
}
#Home > .Wicket > .Search{
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	height:50px;
	border-radius:50px;
	width:calc(100% - 30px);
	background-color:#fff;
	position:relative;
	overflow:hidden;
}
#Home > .Wicket > .Search > i{
	position:absolute;
	top:3px;
	left:0;
	bottom:0;
	width:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Home > .Wicket > .Search > input{
	width:100%;
	height:100%;
	padding:0 10px 0 35px;
}
#Home > .Wicket > .Search > input::placeholder{
	font-size:12px;
}
#Home > .Foot{
	height:60px;
	display:flex;
	align-items:center;
	position:relative;
	background-color:#fff;
	overflow:hidden;
}
#Home > .Foot:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:0;
	border-top:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Home > .Foot > li{
	width:25%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	font-size:12px;
	overflow:hidden;
}
#Home > .Foot > li > span{
	display:flex;
	align-items:flex-end;
	height:20px;
}
#Home > .Foot > li:nth-child(2) > i{
	font-size:13px;
}

#Chat > .Wicket > li{
	color:#fff;
	flex-direction:row;
}
#Chat > .Wicket > li:before{
	content:'';
	position:absolute;
	top:10px;
	width:40px;
	height:40px;
	display:flex;
	border-radius:100%;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
	background-position:center;
	background-repeat:no-repeat;
	background-size:35px 35px;
}
#Chat > .Wicket > li > .Panel{
	background-color:#fff;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	padding:8px 10px;
	border-radius:2px;
}
#Chat > .Wicket > li > .Panel > .Text{
	-webkit-user-select:text;
	white-space:break-spaces;
	word-break:break-all;
	min-height:24px;
	overflow:hidden;
}
#Chat > .Wicket > li > .Panel > .Recommend{
	position:relative;
	font-size:12px;
	display:flex;
	flex-direction:column;
	padding-top:30px;
}
#Chat > .Wicket > li > .Panel > .Recommend:before{
	position:absolute;
	top:0;
	left:50%;
	z-index:2;
	width:120px;
	height:30px;
	margin-left:-60px;
	display:flex;
	align-items:center;
	justify-content:center;
	transform:scale(0.7);
	overflow:hidden;
}
#Chat > .Wicket > li > .Panel > .Recommend:after{
	content:'';
	position:absolute;
	top:15px;
	left:-10px;
	right:-10px;
	z-index:1;
	height:0;
	border-bottom:1px dashed #fff;
	transform:scaleY(0.5);
}
#Chat > .Wicket > li > .Panel > .Recommend > li{
	padding-left:10px;
	position:relative;
	overflow:hidden;
}
#Chat > .Wicket > li > .Panel > .Recommend > li:before{
	content:'';
	position:absolute;
	top:9.5px;
	left:0;
	width:5px;
	height:5px;
	border-radius:100%;
	background-color:#fff;
}
#Chat > .Wicket > li > .Panel > .Tool{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	height:30px;
	overflow:hidden;
	display:none;
}
#Chat > .Wicket > li > .Panel > .Tool > i{
	font-size:14px;
	display:flex;
	justify-content:center;
	width:20px;
	height:20px;
	margin-left:5px;
}
#Chat > .Wicket > li.Bot{
	padding:10px 80px 10px 60px;
	justify-content:flex-start;
}
#Chat > .Wicket > li.Bot:before{
	background-image:url('../Image/a1.jpg');
	left:10px;
}
#Chat > .Wicket > li.Bot > .Panel{
	background-color:#1e9fff;
}
#Chat > .Wicket > li.Bot > .Panel > .Recommend:before{
	background-color:#1e9fff;
}
#Chat > .Wicket > li.User{
	padding:10px 60px 10px 80px;
	justify-content:flex-end;
	flex-wrap:wrap;
}
#Chat > .Wicket > li.User:before{
	background-image:url('../Image/a2.png');
	background-size:28px 28px;
	right:10px;
}
#Chat > .Wicket > li.User > .Panel{
	background-color:#16b777;
}
#Chat > .Wicket > li.User > .Panel > .Recommend:before{
	background-color:#16b777;
}
#Chat > .Wicket > li.User > .Quote{
	width:100%;
	padding:5px 10px;
	margin-top:10px;
	background-color:#f1f1f1;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	position:relative;
	color:#393d49;
	overflow:hidden;
}
#Chat > .Foot{
	margin:5px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	padding:5px;
	border-radius:2px;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	background-color:#fff;
	overflow:hidden;
}
#Chat > .Foot > textarea{
	width:calc(100% - 40px);
	height:57px;
	padding:5px;
}
#Chat > .Foot > i{
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
}
#Chat > .Foot > .Quote{
	width:100%;
	padding:5px 30px 5px 10px;
	margin-top:10px;
	background-color:#fafafa;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	position:relative;
	overflow:hidden;
}
#Chat > .Foot > .Quote > i.layui-icon-close{
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
}

#Quote{
	padding:10px;
	word-break:break-all;
	white-space:break-spaces;
}

#Flash > .Wicket > .Time{
	width:100%;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:12px;
	color:rgba(0,0,0,0.5);
	overflow:hidden;
}
#Flash > .Wicket > li{
	width:calc(100% - 30px);
	padding:10px 15px;
}
#Flash > .Wicket > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Flash > .Wicket > li:nth-last-child(2):after{
	border-bottom:0;
}
#Flash > .Wicket > li > .Method{
	height:30px;
	display:flex;
	align-items:center;
	overflow:hidden;
}
#Flash > .Wicket > li > .Method > img{
	width:30px;
	height:30px;
	border-radius:100%;
	margin-right:10px;
}
#Flash > .Wicket > li > .Method > span{
	flex:1;
	color:#16b777;
}
#Flash > .Wicket > li > .Method > em{
	font-style:normal;
	font-size:12px;
	color:#1e9fff;
}
#Flash > .Wicket > li > .Banner{
	margin-top:10px;
}
#Flash > .Wicket > li > .Banner > img{
	width:100%;
}
#Flash > .Wicket > li > .Text{
	height:40px;
	padding:0 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:40px;
	font-size:18px;
	font-weight:800;
	overflow:hidden;
}
#Flash > .Wicket > li > .Detail{
	height:50px;
	padding:0 5px;
	line-height:25px;
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
	color:rgba(0,0,0,0.7);
	text-indent:2em;
	overflow:hidden;
}
#Flash > .Wicket > li > .Tool{
	height:30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	font-size:12px;
	margin-top:10px;
}
#Flash > .Wicket > li > .Tool > .Quantity{
	display:flex;
	overflow:hidden;
}
#Flash > .Wicket > li > .Tool > .Quantity > li{
	position:relative;
	padding:0 5px 0 20px;
}
#Flash > .Wicket > li > .Tool > .Quantity > li > i{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:20px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#Flash > .Wicket > li > .Tool > .Quantity > li:nth-child(2) > i{
	top:2px;
	font-size:14px;
}
#Flash > .Wicket > li > .Tool > .Quantity > li:nth-child(3) > i{
	top:4px;
	font-size:14px;
}
#Flash > .Wicket > li > .Tool > .Time{
	color:#ddd;
}
#Flash > .Wicket > li > .Title{
	margin-top:5px;
	font-size:18px;
	font-weight:800;
	overflow:hidden;
}
#Flash > .Wicket > li > .Content{
	margin-top:10px;
	color:rgba(0,0,0,0.7);
	text-indent:2em;
	overflow:hidden;
}
#Flash > .Wicket > li > .Content img{
	max-width:100%;
}
#Flash > .Wicket > li > .Content > .Foot{
	width:calc(100% - 20px);
	margin:20px 5px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	padding:5px;
	border-radius:2px;
	display:flex;
	align-items:flex-end;
	background-color:#fff;
	overflow:hidden;
}
#Flash > .Wicket > li > .Content > .Foot > textarea{
	width:calc(100% - 10px);
	height:57px;
	padding:5px;
}
#Flash > .Wicket > li > .Content > .Foot > i{
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
	text-indent:initial;
}

#Project > .Wicket > li{
	width:calc(100% - 50px);
	padding:15px 35px 15px 15px;
	flex-direction:initial;
	position:relative;
	overflow:hidden;
}
#Project > .Wicket > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Project > .Wicket > li:nth-last-child(2):after{
	border-bottom:0;
}
#Project > .Wicket > li:before{
	content:'\e602';
	font-family:layui-icon !important;
	position:absolute;
	top:0;
	bottom:0;
	right:10px;
	display:flex;
	width:20px;
	align-items:center;
	justify-content:center;
	color:rgba(0,0,0,0.1);
}
#Project > .Wicket > li > img{
	width:50px;
	height:50px;
	border-radius:100%;
	margin-right:10px;
}
#Project > .Wicket > li > .Detail{
	flex:1;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
#Project > .Wicket > li > .Detail > .Top{
	height:25px;
	display:flex;
	align-items:flex-end;
	overflow:hidden;
}
#Project > .Wicket > li > .Detail > .Top > .Text{
	font-weight:800;
	margin-right:20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	flex:1;
	overflow:hidden;
}
#Project > .Wicket > li > .Detail > .Top > span{
	margin-right:10px;
	position:relative;
	font-size:12px;
}
#Project > .Wicket > li > .Detail > .Top > span:last-child{
	margin-right:0;
}
#Project > .Wicket > li > .Detail > .Top > span.Green{
	color:#16b777;
}
#Project > .Wicket > li > .Detail > .Top > span.Green:before{
	color:#16b777;
}
#Project > .Wicket > li > .Detail > .Bottom{
	height:25px;
	display:flex;
	align-items:flex-end;
	font-size:12px;
}
#Project > .Wicket > li > .Detail > .Bottom > span{
	margin-right:10px;
	color:#16baaa;
}
#Project > .Wicket > li > .Detail > .Bottom > span:last-child{
	margin-right:0;
}
#Project > .Wicket > li > .Detail > .Bottom > span.Grey{
	color:rgba(0,0,0,0.7);
}
#Project > .Wicket > li > .Detail > .Right{
	position:absolute;
	top:10px;
	right:0;
	bottom:5px;
	padding-top:20px;
	font-size:12px;
	color:#31bdec;
	display:flex;
	width:70px;
	justify-content:center;
	align-items:flex-end;
	overflow:hidden;
}
#Project > .Wicket > li > .Detail > .Right:before{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:20px;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	color:rgba(0,0,0,0.3);
}

#Account > .Wicket{
	flex-direction:column;
}
#Account > .Wicket > .Information{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:50px 0;
	overflow:hidden;
}
#Account > .Wicket > .Information > img{
	width:100px;
	height:100px;
	border-radius:100%;
	margin:0 auto;
}
#Account > .Wicket > .Information > .Nickname{
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:rgba(0,0,0,0.6);
}
#Account > .Wicket > .Toolbar{
	width:100%;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
#Account > .Wicket > .Toolbar > li{
	padding:0 30px;
	height:50px;
	display:flex;
	align-items:center;
	position:relative;
	overflow:hidden;
}
#Account > .Wicket > .Toolbar > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Account > .Wicket > .Toolbar > li:last-child:after{
	border-bottom:0;
}
#Account > .Wicket > .Toolbar > li > i{
	margin-right:10px;
}

#New > .Wicket{
	padding:15px 20px;
}
#New > .Wicket > .Method{
	width:100%;
	height:30px;
	display:flex;
	align-items:center;
	overflow:hidden;
}
#New > .Wicket > .Method > img{
	width:30px;
	height:30px;
	border-radius:100%;
	margin-right:10px;
}
#New > .Wicket > .Method > span{
	flex:1;
	color:#16b777;
}
#New > .Wicket > .Method > em{
	font-style:normal;
	font-size:12px;
	color:#1e9fff;
}
#New > .Wicket > .Tool{
	width:100%;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	font-size:12px;
	margin-top:10px;
}
#New > .Wicket > .Tool > .Quantity{
	display:flex;
	overflow:hidden;
}
#New > .Wicket > .Tool > .Quantity > li{
	position:relative;
	padding:0 5px 0 20px;
}
#New > .Wicket > .Tool > .Quantity > li > i{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:20px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#New > .Wicket > .Tool > .Quantity > li:nth-child(2) > i{
	top:2px;
	font-size:14px;
}
#New > .Wicket > .Tool > .Quantity > li:nth-child(3) > i{
	top:4px;
	font-size:14px;
}
#New > .Wicket > .Tool > .Time{
	color:#ddd;
}
#New > .Wicket > .Title{
	width:100%;
	margin:10px 0;
	line-height:30px;
	font-size:18px;
	font-weight:800;
	overflow:hidden;
}
#New > .Wicket > .Content{
	width:100%;
	display:flex;
	flex-direction:column;
	color:rgba(0,0,0,0.7);
}
#New > .Wicket > .Content img{
	max-width:100%;
}
#New > .Wicket > .Foot{
	width:100%;
	margin:20px 0;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	padding:5px;
	border-radius:2px;
	display:flex;
	align-items:flex-end;
	background-color:#fff;
	overflow:hidden;
}
#New > .Wicket > .Foot > textarea{
	width:calc(100% - 10px);
	height:57px;
	padding:5px;
}
#New > .Wicket > .Foot > i{
	font-size:20px;
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
}

#Invite > .Wicket{
	flex-direction:column;
}
#Invite > .Wicket > .Detail{
	width:calc(100% - 40px);
	margin:10px;
	padding:10px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	border-radius:2px;
	display:flex;
	overflow:hidden;
}
#Invite > .Wicket > .Detail > li{
	flex:1;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
#Invite > .Wicket > .Detail > li:first-child{
	flex:1.5;
	align-items:center;
	justify-content:center;
}
#Invite > .Wicket > .Detail > li > img{
	width:85px;
	height:85px;
}
#Invite > .Wicket > .Detail > li > .Link{
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Invite > .Wicket > .Detail > li > span{
	display:flex;
	align-items:center;
	justify-content:center;
	color:rgba(0,0,0,0.5);
	height:30px;
	overflow:hidden;
}
#Invite > .Wicket > .Detail > li > span:first-child{
	font-size:26px;
	font-weight:800;
	color:#1e9fff;
	height:70px;
}
#Invite > .Wicket > .Record{
	flex:1;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	margin-bottom:10px;
	padding:0 20px;
	overflow-x:hidden;
	overflow-y:auto;
}
#Invite > .Wicket > .Record > li{
	width:100%;
	display:flex;
	overflow:hidden;
}
#Invite > .Wicket > .Record > li > span{
	flex:1;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
}
#Invite > .Wicket > .Record > li > span:first-child{
	flex:1.5;
}
#Invite > .Wicket > .Record > li:first-child > span{
	font-weight:800;
	color:#16baaa;
}
#Invite > .Wicket > .Button{
	width:100%;
	display:flex;
	overflow:hidden;
}
#Invite > .Wicket > .Button > span{
	flex:1;
	height:40px;
	color:#fff;
	background-color:#ffb800;
	display:flex;
	align-items:center;
	justify-content:center;
}
#Invite > .Wicket > .Button > span:last-child{
	background-color:#ff5722;
}

#Integral > .Wicket{
	flex-direction:column;
}
#Integral > .Wicket > .Detail{
	width:calc(100% - 40px);
	margin:10px;
	padding:10px;
	display:flex;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	border-radius:2px;
	overflow:hidden;
}
#Integral > .Wicket > .Detail > li{
	flex:1;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}
#Integral > .Wicket > .Detail > li > span{
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Integral > .Wicket > .Detail > li > span:first-child{
	font-size:26px;
	font-weight:800;
	color:#1e9fff;
	height:35px;
}
#Integral > .Wicket > .Detail > li:last-child{
	flex:1.5;
}
#Integral > .Wicket > .Detail > li:last-child > span:first-child{
	color:#ff5722;
}
#Integral > .Wicket > .Detail > li > span:last-child{
	color:rgba(0,0,0,0.5);
	height:20px;
}
#Integral > .Wicket > .Record{
	flex:1;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	padding:0 20px;
	overflow-x:hidden;
	overflow-y:auto;
}
#Integral > .Wicket > .Record > li{
	width:100%;
	height:40px;
	display:flex;
	overflow:hidden;
}
#Integral > .Wicket > .Record > li > span{
	flex:1;
	display:flex;
	align-items:center;
	justify-content:center;
	height:40px;
	overflow:hidden;
}
#Integral > .Wicket > .Record > li > span:last-child{
	flex:1.5;
}
#Integral > .Wicket > .Record > li:first-child > span{
	font-weight:800;
	color:#16baaa;
}

#Feedback > .Wicket{
	flex-direction:column;
}
#Feedback > .Wicket > textarea{
	flex:1;
	width:calc(100% - 40px);
	padding:5px 10px;
	margin:5px 10px 10px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	border-radius:2px;
}
#Feedback > .Wicket > button{
	width:100%;
	height:40px;
	background-color:#a233c6;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
}

#Language > .Wicket{
	padding-bottom:20px;
}
#Language > .Wicket > .Letter{
	width:100%;
	height:30px;
	font-weight:800;
	color:rgba(0,0,0,0.3);
	display:flex;
	align-items:center;
	padding:0 10px;
}
#Language > .Wicket > .Lang{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	padding:0 10px;
	overflow:hidden;
}
#Language > .Wicket > .Lang > li{
	display:flex;
	align-items:center;
	justify-content:center;
	height:40px;
	padding:0 15px;
	overflow:hidden;
}
#Language > .Wicket > .Lang > li.Hover{
	color:#ff5722;
}

#Program > .Wicket{
	padding-bottom:55px;
}
#Program > .Wicket > .Detail{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	margin:5px 10px;
	padding:5px;
	border-radius:2px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	overflow:hidden;
}
#Program > .Wicket > .Detail > img{
	width:25px;
	height:25px;
	border-radius:100%;
}
#Program > .Wicket > .Detail > .Name{
	flex:1;
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:25px;
	margin-left:10px;
	overflow:hidden;
}
#Program > .Wicket > .Detail > .Name > span:first-child{
	font-weight:800;
	font-size:18px;
}
#Program > .Wicket > .Detail > .Name > span:last-child{
	color:#ff5722;
	font-size:12px;
	transform:scale(0.7);
}
#Program > .Wicket > .Detail > .Description{
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:12px;
	overflow:hidden;
}
#Program > .Wicket > .Detail > .Description > p{
	height:50px;
	line-height:25px;
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
	color:rgba(0,0,0,0.6);
	text-indent:2em;
	word-break:break-word;
	width:calc(100% - 20px);
	padding:0 10px;
	overflow:hidden;
}
#Program > .Wicket > .Detail > .Description > p.Hover{
	height:400px;
	display:block;
	overflow-x:hidden;
	overflow-y:auto;
}
#Program > .Wicket > .Detail > .Description > span{
	color:#31bdec;
	display:flex;
	width:100px;
	height:30px;
	align-items:center;
	justify-content:center;
}
#Program > .Wicket > #Chart{
	margin:0 10px;
	height:250px;
	width:100%;
}
#Program > .Wicket > #Analytics1{
	margin:0 10px;
	height:250px;
	width:100%;
}
#Program > .Wicket > #Analytics2{
	margin:0 10px;
	height:250px;
	width:100%;
}
#Program > .Wicket > #Analytics3{
	margin:0 10px;
	height:250px;
	width:100%;
}
#Program > .Wicket > .layui-table-view{
	margin:10px;
}
#Program > .Wicket > .Flow{
	margin:10px 10px 15px 10px;
	display:flex;
	flex-wrap:wrap;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	overflow:hidden;
}
#Program > .Wicket > .Flow > li{
	width:calc(30% - 10px);
	display:flex;
	flex-direction:column;
	padding:10px 5px;
	overflow:hidden;
}
#Program > .Wicket > .Flow > li:nth-child(1) ,
#Program > .Wicket > .Flow > li:nth-child(4){
	width:calc(40% - 10px);
}
#Program > .Wicket > .Flow > li > span{
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
#Program > .Wicket > .Flow > li > span:first-child{
	height:20px;
	font-weight:800;
}
#Program > .Wicket > .Flow > li > span:last-child{
	height:20px;
	color:rgba(0,0,0,0.5);
	font-size:12px;
	transform:scale(0.85);
}
#Program > .Wicket > .Flow > li > span:last-child.Red{
	color:#ff5722;
}
#Program > .Wicket > .Flow > li > span:last-child.Green{
	color:#16b777;
}
#Program > .Wicket > .Flow > li:nth-child(1) > span:first-child{
	font-size:18px;
	color:#1e9fff;
}
#Program > .Wicket > .Flow > li:nth-child(4) > span:first-child{
	color:#31bdec;
}
#Program > .Wicket > .Foot{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:1000;
	display:flex;
	align-items:center;
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	background-color:#fff;
	overflow:hidden;
}
#Program > .Wicket > .Foot > li{
	flex:1;
	height:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Program > .Wicket > .Foot > li.Hover{
	color:#16b777;
}
#Program > .Wicket > .Panel{
	position:absolute;
	top:0;
	bottom:50px;
	left:0;
	right:0;
	background-color:#fff;
	z-index:999;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	overflow-y:auto;
}
#Program > .Wicket > #Bulletin:before{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:100px;
	z-index:1;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:12px;
	color:rgba(0,0,0,0.5);
}
#Program > .Wicket > #Bulletin > ul{
	width:calc(100% - 20px);
	height:calc(100% - 10px);
	padding:10px 10px 0;
	display:flex;
	flex-wrap:wrap;
	background-color:#fff;
	position:relative;
	z-index:2;
	overflow-x:hidden;
	overflow-y:auto;
}
#Program > .Wicket > #Bulletin > ul > li{
	width:100%;
	padding:0 0 10px 20px;
	margin-bottom:10px;
	position:relative;
	display:flex;
	align-items:flex-start;
	flex-wrap:wrap;
}
#Program > .Wicket > #Bulletin > ul > li:before{
	content:'';
	position:absolute;
	top:10px;
	bottom:-20px;
	left:5px;
	width:0;
	border-right:1px solid #eff2f5;
	transform:scaleX(0.5);
}
#Program > .Wicket > #Bulletin > ul > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:40px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Program > .Wicket > #Bulletin > ul > li:nth-last-child(2){
	margin-bottom:0;
}
#Program > .Wicket > #Bulletin > ul > li:nth-last-child(2):after{
	border-bottom:0;
}
#Program > .Wicket > #Bulletin > ul > li:nth-last-child(2):before{
	bottom:10px;
}
#Program > .Wicket > #Bulletin > ul > li > .Time{
	color:#616e85;
	font-size:12px;
	height:20px;
	display:flex;
	align-items:center;
	width:100%;
	margin-bottom:10px;
}
#Program > .Wicket > #Bulletin > ul > li > .Time:before{
	content:'';
	position:absolute;
	top:5px;
	left:0;
	width:10px;
	height:10px;
	background-color:#eff2f5;
	border-radius:100%;
}
#Program > .Wicket > #Bulletin > ul > li > .Title{
	flex:1;
	padding:0 10px;
	font-weight:800;
}
#Program > .Wicket > #Bulletin > ul > li > img{
	width:150px;
	height:100px;
	border-radius:10px;
}
#Program > .Wicket > #Bulletin > ul > .Line{
	position:relative;
	height:40px;
	width:100%;
}
#Program > .Wicket > #Bulletin > ul > .Line:before{
	position:absolute;
	bottom:0;
	left:50%;
	z-index:2;
	margin-left:-70px;
	width:140px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:12px;
	background-color:#fff;
	color:rgba(0,0,0,0.4);
}
#Program > .Wicket > #Bulletin > ul > .Line:after{
	content:'';
	position:absolute;
	left:40px;
	right:40px;
	top:20px;
	z-index:1;
	height:0;
	border-bottom:1px solid #eee;
	transform:scaleY(0.5);
}
#Program > .Wicket > #Twitter > ul{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	overflow-x:hidden;
	overflow-y:auto;
}
#Program > .Wicket > #Twitter > ul > li{
	width:calc(100% - 20px);
	padding:0 10px 10px;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
#Program > .Wicket > #Twitter > ul > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Program > .Wicket > #Twitter > ul > li:last-child:after{
	border-bottom:0;
}
#Program > .Wicket > #Twitter > ul > li > .Question{
	width:100%;
	height:40px;
	font-size:18px;
	font-weight:800;
	display:flex;
	align-items:center;
	overflow:hidden;
}
#Program > .Wicket > #Twitter > ul > li > .Content{
	width:100%;
	color:rgba(0,0,0,0.7);
	white-space:break-spaces;
	word-break:break-all;
	overflow:hidden;
}
#Program > .Wicket > #Twitter > ul > li > .Go{
	display:flex;
	height:35px;
	align-items:center;
	justify-content:flex-end;
	color:rgba(0,0,0,0.4);
	font-size:12px;
	overflow:hidden;
}
#Program > .Wicket > #Twitter > ul > li > .Go > span{
	color:#1e9fff;
	margin:0 5px;
}
#Program > .Wicket > #Paper > ul{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	overflow-x:hidden;
	overflow-y:auto;
}
#Program > .Wicket > #Paper > ul > li{
	width:calc(100% - 20px);
	padding:0 10px 10px;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
#Program > .Wicket > #Paper > ul > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Program > .Wicket > #Paper > ul > li:last-child:after{
	border-bottom:0;
}
#Program > .Wicket > #Paper > ul > li > .Question{
	width:100%;
	height:40px;
	font-size:18px;
	font-weight:800;
	display:flex;
	align-items:center;
	overflow:hidden;
}
#Program > .Wicket > #Paper > ul > li > .Content{
	width:100%;
	color:rgba(0,0,0,0.7);
	overflow:hidden;
}
#Program > .Wicket > #Paper > ul > li > .Go{
	display:flex;
	height:35px;
	align-items:center;
	justify-content:flex-end;
	color:rgba(0,0,0,0.4);
	font-size:12px;
	overflow:hidden;
}
#Program > .Wicket > #Paper > ul > li > .Go > span{
	color:#1e9fff;
	margin:0 5px;
}

#Epigraph > .Wicket{
	position:relative;
}
#Epigraph > .Wicket > .Introduce{
	padding:0 10px;
	font-size:12px;
	color:rgba(0,0,0,0.7);
	padding-bottom:30px;
	position:relative;
	text-indent:2em;
}
#Epigraph > .Wicket > .Introduce:before{
	position:absolute;
	bottom:0;
	left:50%;
	z-index:2;
	width:180px;
	height:30px;
	margin-left:-90px;
	background-color:#fff;
	font-size:12px;
	color:rgba(0,0,0,0.3);
	display:flex;
	align-items:center;
	justify-content:center;
	text-indent:0;
	overflow:hidden;
}
#Epigraph > .Wicket > .Introduce:after{
	content:'';
	position:absolute;
	z-index:1;
	left:20px;
	right:20px;
	bottom:15px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Epigraph > .Wicket > .Chain{
	display:-webkit-box;
	min-width:100%;
	-webkit-box-pack:center;
	overflow-x:auto;
	overflow-y:hidden;
}
#Epigraph > .Wicket > .Chain > li{
	padding:0 15px;
	height:35px;
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Epigraph > .Wicket > .Chain > li.Hover{
	color:#a233c6;
}
#Epigraph > .Wicket > .Coin{
	display:flex;
	flex-direction:column;
	width:100%;
	overflow:hidden;
}
#Epigraph > .Wicket > .Coin > li{
	display:flex;
	padding:10px;
	position:relative;
}
#Epigraph > .Wicket > .Coin > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Epigraph > .Wicket > .Coin > li:last-child:after{
	border-bottom:0;
}
#Epigraph > .Wicket > .Coin > li > img{
	width:50px;
	height:50px;
	border-radius:100%;
	margin-right:10px;
}
#Epigraph > .Wicket > .Coin > li > .Name{
	flex:2;
	display:flex;
	flex-direction:column;
	position:relative;
}
#Epigraph > .Wicket > .Coin > li > .Name > span{
	display:flex;
	align-items:center;
	overflow:hidden;
}
#Epigraph > .Wicket > .Coin > li > .Name > span:nth-child(1){
	height:25px;
	font-weight:800;
}
#Epigraph > .Wicket > .Coin > li > .Name > span:nth-child(2){
	height:25px;
	font-size:12px;
	color:rgba(0,0,0,0.5);
}
#Epigraph > .Wicket > .Coin > li > span{
	flex:1.5;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}
#Epigraph > .Wicket > .Coin > li > span:nth-child(4){
	font-size:12px;
}
#Epigraph > .Wicket > .Coin > li > span.Green{
	color:#16b777;
}
#Epigraph > .Wicket > .Coin > li > span.Red{
	color:#ff5722;
}
#Epigraph > .Wicket > .Coin > li:nth-child(1){
	margin-top:30px;
}
#Epigraph > .Wicket > .Coin > li:nth-child(1) > .Name:before{
	position:absolute;
	top:-40px;
	left:0;
	right:0;
	height:30px;
	display:flex;
	align-items:center;
	font-weight:800;
	font-size:12px;
}
#Epigraph > .Wicket > .Coin > li:nth-child(1) > span:nth-child(3):before{
	position:absolute;
	top:-40px;
	left:0;
	right:0;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:800;
	font-size:12px;
}
#Epigraph > .Wicket > .Coin > li:nth-child(1) > span:nth-child(4):before{
	position:absolute;
	top:-40px;
	left:0;
	right:0;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#393d49;
	font-weight:800;
	font-size:12px;
}
#Epigraph > .Wicket > .Tutorial{
	padding:40px 10px 10px;
	width:100%;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
#Epigraph > .Wicket > .Tutorial:before{
	position:absolute;
	top:0;
	left:50%;
	z-index:2;
	width:180px;
	height:30px;
	margin-left:-90px;
	background-color:#fff;
	font-size:12px;
	color:rgba(0,0,0,0.3);
	display:flex;
	align-items:center;
	justify-content:center;
	overflow:hidden;
}
#Epigraph > .Wicket > .Tutorial:after{
	content:'';
	position:absolute;
	z-index:1;
	left:20px;
	right:20px;
	top:15px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Epigraph > .Wicket > .Tutorial > li{
	display:flex;
	padding-bottom:10px;
	margin-bottom:10px;
	position:relative;
	overflow:hidden;
}
#Epigraph > .Wicket > .Tutorial > li:last-child{
	margin-bottom:0;
}
#Epigraph > .Wicket > .Tutorial > li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:20px;
	right:20px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Epigraph > .Wicket > .Tutorial > li:last-child:after{
	border-bottom:0;
}
#Epigraph > .Wicket > .Tutorial > li > img{
	width:150px;
	height:80px;
	margin-right:10px;
}
#Epigraph > .Wicket > .Tutorial > li > .Detail{
	display:flex;
	flex-direction:column;
	flex:1;
	overflow:hidden;
}
#Epigraph > .Wicket > .Tutorial > li > .Detail > .Title{
	height:30px;
	padding:0 5px;
	white-space:nowrap;
	text-overflow:ellipsis;
	line-height:30px;
	font-size:18px;
	font-weight:800;
	overflow:hidden;
}
#Epigraph > .Wicket > .Tutorial > li > .Detail > .Description{
	height:50px;
	padding:0 5px;
	line-height:25px;
	display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
	color:rgba(0,0,0,0.7);
	font-size:12px;
	overflow:hidden;
}
#Epigraph > .Wicket > .Release{
	position:fixed;
	bottom:20px;
	right:20px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	border-radius:100%;
	width:40px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#ff5722;
	overflow:hidden;
}
#Epigraph > .Wicket > .Release > i{
	font-size:30px;
	color:#fff;
}

#Inscription > .Wicket > .Coin{
	width:100%;
	padding:5px 10px;
	display:flex;
	overflow:hidden;
}
#Inscription > .Wicket > .Coin > img{
	width:40px;
	height:40px;
	border-radius:100%;
	margin-right:10px;
}
#Inscription > .Wicket > .Coin > span{
	display:flex;
	height:40px;
	align-items:center;
	font-weight:800;
}
#Inscription > .Wicket > .Coin > span:nth-child(3){
	flex:1;
	justify-content:flex-end;
	font-weight:400;
}
#Inscription > .Wicket > .Detail{
	width:100%;
	padding:0 10px;
	display:flex;
	flex-wrap:wrap;
	overflow:hidden;
}
#Inscription > .Wicket > .Detail > li{
	width:50%;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
	overflow:hidden;
}
#Inscription > .Wicket > .Detail > li > span{
	display:flex;
	height:25px;
	align-items:center;
	justify-content:center;
}
#Inscription > .Wicket > .Detail > li > span:nth-child(1){
	font-size:12px;
	color:rgba(0,0,0,0.5);
}
#Inscription > .Wicket > .Detail > li:nth-last-child(2) ,
#Inscription > .Wicket > .Detail > li:last-child{
	margin-bottom:0;
}
#Inscription > .Wicket > #Analysis > img{
	max-width:100%;
}
#Inscription > .Wicket > .Address{
	width:100%;
	padding-top:30px;
	margin-bottom:10px;
	display:flex;
	flex-direction:column;
	position:relative;
	overflow:hidden;
}
#Inscription > .Wicket > .Address:before{
	position:absolute;
	top:0;
	left:50%;
	z-index:2;
	width:70px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:rgba(0,0,0,0.3);
	background-color:#fff;
	margin-left:-35px;
	overflow:hidden;
}
#Inscription > .Wicket > .Address:after{
	content:'';
	position:absolute;
	z-index:1;
	left:20px;
	right:20px;
	top:15px;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transform:scaleY(0.5);
}
#Inscription > .Wicket > .Address > li{
	display:flex;
	position:relative;
}
#Inscription > .Wicket > .Address > li > span{
	display:flex;
	height:40px;
	align-items:center;
	padding:0 10px;
}
#Inscription > .Wicket > .Address > li > span:nth-child(1){
	width:40%;
}
#Inscription > .Wicket > .Address > li > span:nth-child(2){
	width:30%;
	justify-content:flex-end;
}
#Inscription > .Wicket > .Address > li > span:nth-child(3){
	width:30%;
	justify-content:flex-end;
}
#Inscription > .Wicket > .Address > li > em{
	position:absolute;
	bottom:5px;
	right:10px;
	height:5px;
	border-radius:5px;
	background-color:#f7f7f7;
	width:50px;
	overflow:hidden;
}
#Inscription > .Wicket > .Address > li > em > i{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	background-color:#16baaa;
}

#Modify{
	padding:10px;
	overflow:hidden;
}
#Modify > .layui-form-item:last-child{
	margin-bottom:0;
}

#Search{
	display:flex;
	flex-direction:column;
	background-color:#fcfcfc;
	overflow:hidden;
}
#Search > .Label{
	display:flex;
	padding:10px;
	overflow:hidden;
}
#Search > .Label > .layui-input-wrap{
	flex:1;
}
#Search > .Label > .layui-input-wrap > input{
	border-right:0;
	border-radius:0;
}
#Search > .Label > button{
	border-radius:0;
}
#Search > .History{
	display:flex;
	flex-wrap:wrap;
	padding:0 10px 10px;
	overflow:hidden;
}
#Search > .History > li{
	display:flex;
	height:30px;
	align-items:center;
	padding:0 15px;
	overflow:hidden;
}
#Search > .Panel{
	flex:1;
	overflow-x:hidden;
	overflow-y:auto;
}
#Search > .Panel > .Project{
	display:flex;
	flex-direction:column;
	padding-top:30px;
	position:relative;
	overflow:hidden;
}
#Search > .Panel > .Project:before{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:30px;
	display:flex;
	align-items:center;
	font-size:12px;
	color:rgba(0,0,0,0.5);
	padding:0 10px;
}
#Search > .Panel > .Project > li{
	padding:10px;
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:#fff;
	overflow:hidden;
}
#Search > .Panel > .Project > li:before{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Search > .Panel > .Project > li:nth-last-child(2):before{
	border-bottom:0;
}
#Search > .Panel > .Project > li > img{
	width:35px;
	height:35px;
	border-radius:100%;
}
#Search > .Panel > .Project > li > span:nth-child(1) ,
#Search > .Panel > .Project > li > span:nth-child(2){
	flex:1;
	padding:0 10px;
	font-weight:800;
}
#Search > .Panel > .Project > li > span:nth-child(3){
	color:#1e9fff;
	font-size:12px;
}
#Search > .Panel > .Project > .More{
	position:absolute;
	top:0;
	right:10px;
	width:50px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
#Search > .Panel > .Project > .More > span{
	color:#a233c6;
	font-size:12px;
	transform:scale(0.8);
}
#Search > .Panel > .Chat{
	display:flex;
	flex-direction:column;
	padding-top:30px;
	position:relative;
	overflow:hidden;
}
#Search > .Panel > .Chat:before{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:30px;
	display:flex;
	align-items:center;
	font-size:12px;
	color:rgba(0,0,0,0.5);
	padding:0 10px;
}
#Search > .Panel > .Chat > li{
	padding:10px;
	position:relative;
	color:rgba(0,0,0,0.7);
	background-color:#fff;
	overflow:hidden;
}
#Search > .Panel > .Chat > li:before{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:0;
	border-bottom:1px solid rgba(0,0,0,0.03);
	transform:scaleY(0.5);
}
#Search > .Panel > .Chat > li:nth-last-child(2):before{
	border-bottom:0;
}
#Search > .Panel > .Chat > li > span{
	color:#16baaa;
}
#Search > .Panel > .Chat > .More{
	position:absolute;
	top:0;
	right:10px;
	width:50px;
	height:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
#Search > .Panel > .Chat > .More > span{
	color:#a233c6;
	font-size:12px;
	transform:scale(0.8);
}